:root.cinematic-dark {
  --color-bg-primary: #0D0D0D;
  --color-bg-secondary: #1A1A1A;
  --color-bg-tertiary: #2E2E2E;

  --color-text-primary: #F5F5F5;
  --color-text-secondary: #CFCFCF;

  --color-border: #3A3A3A;

  --color-accent: #0077FF; /* Electric Blue */
  --color-accent-hover: #3399FF;

  --color-danger: #E50914; /* Netflix Red */
  --color-warning: #F2C94C; /* Gold */
}


/* Navbar Fixed to top */
.navbar {
    position: fixed;
}