/* Google fonts for site */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');
:root.cinematic-dark {
  --color-bg-primary: #0d0d0d;
  --color-bg-secondary: #1a1a1a;
  --color-bg-tertiary: #2e2e2e;

  --color-text-primary: #f5f5f5;
  --color-text-secondary: #cfcfcf;

  --color-border: #3a3a3a;

  --color-accent: #0077ff; /* Electric Blue */
  --color-accent-hover: #3399ff;

  --color-danger: #e50914; /* Netflix Red */
  --color-warning: #f2c94c; /* Gold */
}

/* Global css across most of the pages.*/
body {
    background-color: var(--color-bg-tertiary);
}

p {
    color: var(--color-text-primary);
}

/*Navbar No Wrap*/
.navbar-nav .nav-link {
    white-space: nowrap;
}

navbar {
    background-color: var(--color-accent) !important;
}

/* Header, Main, and Footer. Plus image under #docufree*/

#header {
    margin-top: 54px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* Image of the site will sit here (1200 x 600px)*/
#docufree {
    height: 600px;
    width: 100%;
    background: url(../images/DocuFree_Logo.png) no-repeat center center/cover;
    position: fixed;
}

footer {
    height: 75px;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    z-index: 2000;
}